---
title: Baloran aka Arnaud Allouis
---

<div class="anarchy">
    <div class="🕶">
      <h1 id="title">Baloran <span></span></h1>
    </div>
    <h2>ARNAUD ALLOUIS</h2>
  </div>
  <div class="bestFooterEver">
    <p><span class="thisIsAwesome">Baloran</span>, is a <span class="thisIsAwesome">young entrepreneur</span> and <span class="thisIsAwesome">developer</span>.</p>
    <p><span class="thisIsAwesome">Wino</span>, is an ecosystem of services around <span class="thisIsAwesome">wine</span> and <span class="thisIsAwesome">gastronomy</span>.</p>
  </div>
  <script src="html2canvas.js"></script>
  <script src="glitch.js"></script>
  <script>
    var balibalo = document.getElementById("title");
    var countOfThisInfiniteShitOfLoopForJustAFuckingTitle = 0;
    var okIDontMakeThisCodeIsALibraryDontInsultMeThanksGoPlayOutsideWithElectricity = function () {
      var lel = Math.floor(Math.random() * 20) + 5;
      glitch.replace(balibalo, {
        amount: lel,
        complete: function () {
          setTimeout(function () {
            document.querySelector('.🕶').replaceChild(balibalo, document.querySelector('.🕶 canvas'));
            setTimeout(function () {
              balibalo.innerHTML = (countOfThisInfiniteShitOfLoopForJustAFuckingTitle%2) ? 'Baloran <span></span>' : 'WINO';
              okIDontMakeThisCodeIsALibraryDontInsultMeThanksGoPlayOutsideWithElectricity();
              countOfThisInfiniteShitOfLoopForJustAFuckingTitle++;
            }, Math.floor(Math.random() * 1000) + 500);
          }, Math.floor(Math.random() * 500) + 200);
        }
      });
    }
    okIDontMakeThisCodeIsALibraryDontInsultMeThanksGoPlayOutsideWithElectricity();
    var makeTheFuck = function () {
      console.log('%cOh lolilol I\'m a hacker I go in javascript console. ', 'background: #111111; color: #fff; font-size:12px;');
      console.log('%cMonron it\'s a HTML website not nasa her. ', 'background: #111111; color: #fff; font-size:12px;');
      console.log('%cReturn play on..'+((document.referrer != 'https://baloran.fr' && document.referrer !== '' && typeof document.referrer !== 'undefined') ? document.referrer : '.I have nothing on you.'), 'background: #111111; color: #fff; font-size:12px;');
    }
    makeTheFuck();
  </script>
